<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">
        <i class="material-icons">menu</i>
      </a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">
        <i class="material-icons">menu</i>
      </a>
      <span class="mui--text-title mui--visible-xs-inline-block">Jonathan Jolivald</span>
    </div>
  </div>
</header>
