// navbar
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  .mui-appbar {
    .mui-container-fluid {
      white-space: nowrap;
    }
  }
}
 
// page content
#content-wrapper {
  box-sizing: content-box;
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  .github-ribbon {
    position: fixed;
    top: -1rem;
    right: -1rem;
    z-index: 5;
  }
  .mui-container {
    max-width: 80ch;
    margin-top: $mui-appbar-height-xs-portrait;
    padding: 0 2rem;
    h2 {
      margin-bottom: 1rem;
      
    }
    .page-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      font-variant: small-caps;
    }
  }
}

// page footer
#footer {
  height: 160px;
  height: $footer-height;
  margin-left: 0px;
  transition: margin-left 0.2s;
  color: #fff;
  background-color: #0288D1;
  a {
    color: #fff;
    text-decoration: underline;
  }
  p {
   text-align: center;
   font-style: italic;
   padding-top: 1rem;
   color: mui-color('grey', '300');
  }
  .mui-row.icons {
   height: 4rem;
   margin-top: 1rem;
   text-align: center;
   div {
     height: 100%;
     a.mui-btn {
       display: block;
       height: 100%;
       margin: 0;
       padding: 0.5rem 0 0;
       background-color: transparent;
     }
   }
  }
}

@media (orientation: landscape) and (max-height: $x-mobile-breakpoint) {
  #content-wrapper {
    .mui-container {
      margin-top: $mui-appbar-height-xs-landscape;
    }
  }
}

@media (min-width: $x-mobile-breakpoint) {
  #content-wrapper {
    .mui-container {
      margin-top: $mui-appbar-height;
    }
  }
}
 
@media (min-width: $mui-screen-md-min) { // 768px
  #header {
    left: $sidebar-width;
  }
  #sidedrawer {
    transform: translate($sidebar-width);
  }
  #content-wrapper {
    margin-left: $sidebar-width;
  }
  #footer {
    margin-left: $sidebar-width;
  }
  body.hide-sidedrawer #header {
    left: 0;
  }
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}
 
