#sidedrawer {
  overflow-x: hidden;
  .profile-picture {
    height: 12.5rem;
    width: 12.5rem;
    margin: 1rem 1rem 0;
    clip-path: circle(50%);
    transition: all 0.5s;
    &:hover {
      clip-path: circle(72%);
    }
  }
  h1,
  h2 {
    margin: 0;
    text-align: center;
  }
  h2 {
    font-variant: small-caps;
    margin-bottom: 1rem;
    color: mui-color('grey', '700');
  }
  .mui-divider {
    margin: 1rem 0;
  }
}

#sidedrawer-menu {
  list-style-type: none;
  padding: 0;
  // overwrite mui button in sidebar menu
  // used to keep ripple effect on press
  a.mui-btn {
    display: inline-block;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 100%;
    margin: 0;
    padding: 0 0 0 2rem;
    text-align: left;
    text-transform: none;
    color: $mui-link-font-color;
    &:hover {
      //text-decoration: none;
      box-shadow: none;
      background-color: mui-color('grey', '200');
    }
  }
}

.material-icons {
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}

pre.highlight {
  padding: 1rem 1rem;
}

// style for about page only
body.about-md {
  #content-wrapper {
    .mui-container {
      max-width: 80ch;
      img {
        float: left;
        margin: 0 1rem 1rem 0;
      }
      hr + * + * {
        clear: both;
      }
    }
  }
}

// style for resume page only
body.resume-md {
  .mui-container {
    //height: 100vh;
    embed {
      height: 90vh;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}