/* gdpr dialog
#gdpr-container {
  z-index: 5;
}*/

// floating action button
.mui-btn--fab {
  position: sticky;
  bottom: 1rem;
  left: 100%;
  margin: 1rem 1rem;
}

// material icon font
.material-icons {
  // This is needed for some mobile phones to display the Google Icon font properly
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  vertical-align: middle;
}

// syntax hightlighting box
div.highlight {
  @extend .mui--z3;
  overflow-x: auto;
}
pre.highlight {
  padding: 1rem 1rem;
}

// style for about page only
body.about-md {
  #content-wrapper {
    .mui-container {
      img {
        margin: 0 0 1rem;
      }
      .mui-btn {
        margin-bottom: 1rem;
      }
    }
  }
}

// style for resume page only
body.resume-md {
  .mui-container {
    embed {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

// style for contact page only
body.contact-md {
  .mui-btn[type="submit"] {
    margin: 1rem 0;
  }
}

// style for posts listing page
body.posts-md {
  .mui-row {
  height: 12.5rem;
    .mui-col-xs-12 {
    .mui-panel {
      height: 100%;
    }
  }
  }
}