// overwrite tactile theme colors
a, h3 {
  color: $primary;
}
a:hover {
  text-decoration: underline;
  color: adjust-color($color: $primary, $lightness: -10%);
}
#main_content {
  h2 {
    //font-family: Chivo;
  }
  h3 {
    color: #303030;
  }
}

#header_menu {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    li {
      flex: 1 0 100%;
      list-style-type: none;
      text-align: center;
      vertical-align: middle;
      height: 2em;
      padding: 0;
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  #header_menu {
    ul {
      li {
        flex: 1 0 auto;
      }
    }
  }
}