/*
a {
  border-radius: 0.25rem;
}
a:hover {
  background-color: #252525;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
*/
body {
  min-height: 100vh;
  //margin-top: 1rem;
  color: darken($color: $primary-color, $amount: 75%);
  background-color: lighten($color: $primary-color, $amount: 75%);
}
.page-header {
  padding-top: 1rem;
  color: lighten($color: $primary-color, $amount: 75%);
  background-color: $primary-color;
}
#banner {
  //background-color: $primary-color;
  .profile-picture {
    display: flex;
    justify-content: center;
    img {
      clip-path: circle(50%);
    }
  }
  .banner-title {
    text-align: center;
    color: #fff;
    .subtitle {
      font-weight: normal;
      margin-top: -1rem;
    }
  }
}
#menu {
  padding: 0;
  background-color: darken($color: $primary-color, $amount: 10%);
}
#content {
  flex: 1 0 auto;
}
.page-footer {
  text-align: center;
  background-color: $primary-color;
  .footer-copyright {
    background-color: darken($color: $primary-color, $amount: 10%);
  }
}