{% capture about_content %}
<h2>About me</h2>
<div class="mui-row">
  <div class="mui-col-xs-12 mui-col-sm-5 mui-col-lg-4">
    <img src="/assets/images/about.jpg" class="mui--z3" alt="Profile picture"/>
  </div>
  <div class="mui-col-xs-12 mui-col-sm-7 mui-col-lg-8">
    <p>Hello, my name is Jonathan and I'm passionate about computers since I was a child.</p>
    <p>I like to develop using javascript wether on the backend or the frontend.</p>
    <hr class="mui--hidden-xs"/>
    <a href="/resume" class="mui-btn mui-btn--primary">Check out my resume</a>
  </div>
</div>

{{ content }}

<div class="mui-row">
  {% for entry in site.data.social.networks %}
  <div class="mui-col-xs-12 mui-col-md-4">
    <a href="{{ entry.url }}" class="mui-btn" style="float: left; margin-right: 1rem">
      <i class="material-icons">{{ entry.icon }}</i>
      {{ entry.label }}
    </a>
  </div>
  {% endfor %}
</div>
{% endcapture %}
{% include layout.html content=about_content %}
