<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{{site.title}} - {{page.title}}</title>
</head>
<body>
  <main class="container">

    <header class="row">

      <div id="banner" class="col s12">
        <div class="row">
          <div class="col s12 m6 l4 profile-picture">
            <img
              src="{{ '/assets/images/profile.jpg' | relative_url }}"
              alt="Jonathan Jolivald profile picture"
            />
  
          </div>
          <div class="col s12 m6 l8 banner-title">
            <h1>{{ site.title }}</h1> 
            <h2>{{ site.description }}</h2>
          </div>
        </div>
      </div>


      <nav id="menu" class="col s12">
        <div class="nav-wrapper">
          <a
            href="#!"
            class="sidenav-trigger brand-logo right hide-on-med-and-up"
            data-target="slide-out"
          >
            <i class="material-icons">menu</i>
          </a>

          <ul class="left hide-on-small-and-down">
            {% for entry in site.data.menu.links %}
              <li>
                <a href="{{ entry.url }}">
                  {{ entry.label }}
                </a>
              </li>
            {% endfor %}
          </ul>

        </div>
      </nav>

      <ul id="slide-out" class="sidenav">
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>

        <li><div class="divider"></div></li>

        {% for entry in site.data.menu.links %}
          <li>
            <a href="{{ entry.url }}">
              <i class="material-icons">{{ entry.icon }}</i>
              {{ entry.label }}
            </a>
          </li>
        {% endfor %}

        <li><div class="divider"></div></li>

        {% for entry in site.data.social.networks %}
          <li>
            <a href="{{ entry.url }}">
              <i class="material-icons">{{ entry.icon }}</i>
              {{ entry.label }}
            </a>
          </li>
          {% endfor%}
      </ul>

    </header>

    <article>
      <p>content here</p>
      <p>content here</p>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
          <i class="large material-icons">share</i>
        </a>
        <ul>
          {% for entry in site.data.social.networks %}
          <li>
            <a href="{{ entry.url }}" class="btn-floating">
              <i class="material-icons">{{ entry.icon }}</i>
            </a>
          </li>
          {% endfor%}
        </ul>
      </div>
      
    </article>

    <footer>
      <p>Copyright &copy;2020 Jonathan Jolivald - Released under the MIT license</p>
    </footer>
  </main>


  <script type="text/javascript" src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>
  <script type="text/javascript">
  M.AutoInit();
  </script>
</body>
</html>