<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" type="text/css">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ '/assets/css/print.css' | relative_url }}" media="print" rel="stylesheet" type="text/css">
  <link rel="icon" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
  <!--[if IE]>
  <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
  <![endif]-->
  <script src="{{ '/assets/js/mui.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/index.js' | relative_url }}" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="{{ page.name | slugify }}">
  <a name="top"></a>
  {% include sidebar.html %}

  {% include header.html %}

  <div id="content-wrapper">
    <div class="mui-container">
      {{ content }}
    </div>
    <div>
    </div>
  </div>

  <a href="#top" title="Back to top" class="mui-btn mui-btn--fab mui-btn--primary">
    <i class="material-icons" style="margin: 0">arrow_upward</i>
  </a>

  {% include footer.html %}

  {% include analytics.html %}

</body>
</html>
