{% capture embed_resume %}
{{ content }}
<p>
  Check out my resume online or <a
    href="{{ '/assets/CV-Jolivald-Jonathan.pdf' | relative_url }}"
  >
    <i class="material-icons">get_app</i>
    download it
  </a>
  directly.
</p>
<embed
  id="embed-pdf"
  class="mui--z3"
  src="{{ '/assets/CV-Jolivald-Jonathan.pdf' | relative_url }}"
  type="application/pdf"
/>
<script type="text/javascript">
window.addEventListener('load', () => {
  console.log('dom load');
  const embed = document.getElementById('embed-pdf');
  const onResize = () => embed.height = Math.floor(embed.offsetWidth * Math.SQRT2);
  window.addEventListener('resize', onResize);
  onResize()
});
</script>
{% endcapture %}
{% include layout.html content=embed_resume %}
